body {
	padding-top: 50px;
	padding-bottom: 50px;
}

.carousel {
	height: 300px;
	background-color: #000；
}

.carousel .item {
	height: 300px;
	background-color: #000;
}

.carousel img {
	width: 100%;
	padding-bottom: 10px;
}

.carousel-caption p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 4;
}

.hrStyle {
	margin-top: 10px;
	margin-bottom: 10;
}

#summary-container .col-md-4 {
	text-align: center;
}

#summary-container .col-md-4 img {
	height: 140px;
	width: 140px;
}

#summary-container .col-md-4 a {
	margin-top: 10px;
}

#summary-container p {
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.8;
}

#middle-img img {
	width: 60%;
	height: 55%;
}
#currentTime{
	color:red;
}
